/* Master styles */
body {
    margin: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.brand {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: italic;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

/* Nav styles */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-link-wrapper {
    height: 22px;
    border-bottow: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Profile styles, grid */

.profile-items-wrapper {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  background-color: grey;
  padding: 5px;
  color: white;
}

.profile-items-wrapper > div {
  background-color: black;
  text-align: center;
  padding: 75px 0;
  font-size: 20px;
}

.profile-item-1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(images/coding.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-item-2 {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(images/computer.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-item-3 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url(images/citynight.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-item-4 {
    position: relative;
}

.profile-item-5 {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
    background-image: url(images/tyler.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-item-6 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url(images/lamborghini.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* About Page */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.profile-items-wrapper {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  background-color: grey;
  padding: 5px;
  color: white;
}

.profile-items-wrapper > div {
  background-color: black;
  text-align: center;
  padding: 75px 0;
  font-size: 20px;
}

.profile-content-wrapper {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: #4a49ad;
}

/* img blur */
.profile-items-wrapper > div{
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
}

.profile-items-wrapper > div:hover {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    transition: 1s;
    filter: brightness(45%);
    color: #f7c705;
}

.img-blur {
  transition: 1s;
  filter: brightness(25%);
}
